* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --style: font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
body {
    background-color: #EEEEF7;
    font-style: var(--style);

}

.header {
    padding: 20px;
    margin: auto 0;
    text-align: end;
    background-color: #31343d;
    display: flex;
    justify-content: space-between;
   
    
}
.header h1 {
    font-size: 45px;
    color: #1c1d21;
    margin: 1px;
    border: hidden;
    padding-left: 65px;
    background-color: #92ccce;
    float: left;
    left: 0;
    flex-direction: column;

}
.header nav 
    a{
        color: #92ccce;
        text-decoration:none;
        flex-direction: column;
        
   }
   

.header nav ul li {
    display: inline-block;
    margin-left: 50px;
    font-size: 26px;
    flex-direction: column;
    color: darkgrey;
    padding-top: 18px;
    text-decoration: underline;
    
    
}
.hero {
    height: 300px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Images/Beach.jpg");
    background-size: cover;
    background-position: center;
}
.hero-text {
    border: hidden;
    background-color: #92ccce;
    padding: 1em;
    font-size: 15px;
    color: #1c1d21;
    padding-right: 35px;
    float: right;
    position: relative;
    top: 150px;
    
    
    
}
.profile image {
    background-image: url(./IMG_1150.JPG);
    border: solid 5px grey;
    border-radius: 100px;
}
.content1 {
    display: flex;
    flex-wrap: wrap;

}
.content1 div {
    flex: 4 0 0;
    padding-left: 1em;
   
    
     
}


.content1 h2 {
    padding: 25px;
    color: #445877;
    font-size: 50px;
    font-style: var(--style);
    border-right: solid #445877;
    margin: 20px 20px 20px 100px;
    
}

.content1 div p{
    margin: 20px 40px 0 0px;
    font-size: 19px;
    font-style: var(--style);
    color: #445877;
    flex: auto;
    position: relative;
    width: 75%;

}
.image {
    margin: 20px 20px 0 0px;
    float: left;
    flex: auto;
}

    
.content2 h2 {
    padding: 25px;
    color: #445877;
    font-size: 50px;
    font-style: var(--style);
    float: left;
    margin: 8px 0 0 110px;
    border-right: solid #445877;

}
.content2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.content2 div {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

.card {
    width: calc(50% - 60px);
    height: 100px;
    font-size: 10px;
    color: #1c1d21;
    border: solid 3px #92ccce;
    margin: 7px 30px;
    position: relative;
    
}
    


.card:first-child {
    width: 100%;
    min-height: 300px;

}
.card:nth-child(1) {
    background-color:#445877;
    background-size: cover;
    
}
.card:nth-child(2) {
    background-image: url(./Images/Led\ Wall.jpg);
    background-size: cover;
    
}
.card:nth-child(3) {
    background-image: url(./Images/pexels-roman-koval-2903063.jpg);
    background-size: cover;  

}
.card:nth-child(4) {
    background-image: url(./Images/pexels-negative-space-160107\ \(1\).jpg);
    background-size: cover;
    
}

.card:nth-child(5) {
    background-image: url(./Images/Pastel.jpeg);
    background-size: cover;
    
}

.card span {
    position: absolute;
    bottom: 20px;
    background-color: #92ccce;

}
.footer h1{
    padding: 25px;
    color: #445877;
    font-size: 50px;
    font-style: var(--style);
    float: left;
    margin: 40px 0 0 62px;
    border-right: solid;
}
.footer div ul li {
    display: inline-block;
    margin-left: 160px;
    font-size: 26px;
    flex-direction: column;
    padding-top: 18px;
    margin-top: 130px;
   
}

a:hover {
    opacity: 0.5;
}
a:link {
    color: #1c1d21;
    border-bottom: solid #445877;
}
 
@media screen and (max-width: 992px) {
    .card {
        width: 100%; 
        
    }
    .content1 h2 {
        width: 50%;
    }
    
}

@media screen and (max-width: 768px){
    .card {
        width: 75%;
       
        
       
    
    }
}
@media screen and (max-width: 576) {
    .card {
        width: 100%;
       
        
    }
}
